{% extends 'base.html.twig' %}

{% block title %}ECFJ{% endblock %}



{% block body %}
<div class="text mt-4">
    <nav class="navbar navbar-dark bg-dark">
        <p class="navbar-brand">Nos produits</p>
    </nav>
</div>
<div class="row">
    {% for article in articles %}
        <div class="card mt-5 ml-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Nom : {{ article.nom }}</h5>
                <h6 class="card-subtitle mb-2 text-center">Marque : {{ article.marque.nom }}</h6>
                <p class="card-text text-center">Reste {{ article.quantite }} en stock.</p>
                <a href="{{ path('detail_article_id', {
                    id: article.id
                }) }}" class="card-link">Détail de l'article</a></br>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row mt-4 text-center"style="justify-content: center;">
    <a href="{{ path('add_article') }}" class="card-link">
        <button type="button" class="btn btn-secondary">Ajouter un article</button>
    </a>
</div>


{% endblock %}
